<%- contentFor('body') %>

<div id="pokemonList">
  <h3><%= pokemon.name %></h3>
  <div id="pokemonInfo">
    <div id="infoLeft">
      <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %> animated sprite">
    </div>
    <div id="infoRight">
      <h5>ID</h5>
      <p><%= pokemon.id %></p>
      <h5>CP</h5>
      <p><%= pokemon.cp %></p>
      <h5>Trainer</h5>
      <p><%= pokemon.trainer %></p>
      <h5>Currently in a gym?</h5>
      <p><%= pokemon.in_gym %></p>
    </div>
  </div>
</div>
